# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Project specific
data/UCF101/videos/*
data/UCF101/poses/*
input/*
output/*
!input/.gitkeep
!output/.gitkeep
!data/UCF101/videos/.gitkeep
!data/UCF101/poses/.gitkeep

# IDE
.vscode/
.idea/
*.swp
*.swo
